{% extends 'main_home/base.html' %}
{% block title %} About {% endblock title %}
{% block nav-heading %} Easy Life {% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">About Page</h1>
        <p class="lead">My name is Sourav Ganguly. I am a Django Developer.</p>
        <hr class="my-4">
        <p>This is a very good website where you use our services like 'ToDo' 'MyDiary'... </p>
        <p class="display-2">Connect on -</p>
        <a class="btn btn-info btn-lg" href="#" role="button">Twitter</a>
        <a class="btn btn-info btn-lg" href="#" role="button">Instagram</a>
        <a class="btn btn-info btn-lg" href="#" role="button">Facebook</a>
        <a class="btn btn-info btn-lg" href="#" role="button">Youtube Channel</a>
      </div>

   
{% endblock %}